@using userApp.Models
@model UsersModel


@{
    ViewBag.Title = "UsersList";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3> Users List</h3>
        </div>
        <div class="col-md-6" style="margin-top: 10px">
            <div style="float: right">
                @Html.ActionLink("Add New User", "UserEditor",null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 15px">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Mobile Number</th>
                        <th>Company</th>
                        <th>Nationality</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody-users-list">
                    @if (Model.UsersList.Count > 0)
                    {
                        foreach (User user in Model.UsersList)
                        {
                            <tr id="tr_@user.UserID">
                                <td>@user.UserName</td>
                                <td>@user.Age</td>
                                <td>@user.Address</td>
                                <td>@user.MobileNo</td>
                                <td>
                                    @if (user.Company != null)
                                    {
                                        @user.Company.CompanyName
                                    }
                                </td>
                                <td>
                                    @if (user.Nationality != null)
                                    {
                                        @user.Nationality.NationalityName
                                    }
                                </td>
                                <td>

                                    @Html.ActionLink("Edit", "UserEditor", new { userId = user.UserID}, new { @class = "btn btn-primary" })

                                    @*<a class="btn btn-primary">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        Edit
                                    </a>*@
                                    <a class="btn btn-danger" onclick="usersApp.delete(@user.UserID)">
                                       Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    var usersApp = {
        delete: function (usersId) {

            $.ajax({
                url: "/User/DeleteUser",
                type: "POST",
                data: {
                    userId: usersId
                },
                success: function (response) {

                    if (response) {
                        alert("User Deleted");
                        $("#tbody-users-list").find("#tr_" + usersId).remove();

                    } else {
                        alert("Some error occured when deleting user");
                    }

                },
                error: function () {
                    alert("Some error occured when deleting user");
                }
            }
            )
        }
    }
</script>